.productCart{
    width: 16vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48,48,48);
    margin: 2vmax;
    padding: 1vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;  
  }
  
  .productCart > img{
      width: 14vmax;
      height: 14vmax;
      border-radius: 50%;
  }
  .productCart > div{
      display: flex;
      justify-content: center;
  }
  
  .productCart > p{
      display: flex;
      justify-content: center;
      font-size: 1.5vmax;
      margin: 0.5vmax;
  }
  .productCart >  span{
      margin: 0.5vmax;
      font-family:  'Arial Narrow', Arial, sans-serif;
  }
  
  .productCart:hover{
      box-shadow: 0 0 5px rgba(15,15,15,0.26);
      transform: translateY(-1vmax);
  }
  
  @media screen and (max-width : 600px){
      .productCart > p {
          font-size: 1.7vmax;
      }
      .productCart > div {
          margin: 0vmax;
          display: block;
      }
      .productCart > span {
          font-size: 1.5vmax;
      }
      .productCart > div > span {
          margin: 0 0.5vmax;
      }
  }